.calendar-header {
    font-size: x-large;
    font-weight: bold;
}

.calendar-header span {
    margin: 10px;
}

.calendar-header-prev-btn:before {
    content: '\003C';
    cursor: pointer;
}

.calendar-header-next-btn:before {
    content: '\003E';
    cursor: pointer;
}

.calendar-head-week-names {
    display: flex;
}

.calendar-weekend-grid {
    display: flex;
}

.calendar-head-week-name {
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

.calendar-schedule-grid {
    position: absolute;
    width: 1000px;
}

.calendar-schedule-block {
    position: absolute;
    width: 100%;
    left: 14%;
}
